<main class="flex-shrink-1">
  <div class="mb-4 bg-light rounded-3 jumbotron">
    <div class="container-fluid text-center py-5">
      <h1 class="mt-5 display-5 text-success p-3">Alpha Blog</h1>
      <p class="lead">Using the Alpha blog site, you can type in the title and description of your article by clicking on the below button.</p>
      <button class="btn btn-success btn-lg" type="button"> <%= link_to 'Article Listing', articles_path %> </button>
    </div>
  </div>
</main>