// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

.home-container{
    margin-top: 85px;
}

.jumbotron {
    background-image: asset-url('jumbo-copy.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: auto;
}

.jumbotron-text{
    color: black;
}

.text-dark{
    color: black;
}



#page-content{
    flex: 1 0 auto;
    background-color: lightgrey;
}
